# API Configuration
PROJECT_NAME="AI Image Analysis Service"
VERSION="1.0.0"
API_V1_STR="/api/v1"

# Model Registry Configuration
YOLO_MODEL_PATH="models/yoloe-26n-seg.pt"

# MLOps & Experiment Tracking
MLFLOW_TRACKING_URI="file:./mlruns"
MLFLOW_EXPERIMENT_NAME="Image-Analysis-Service"

# Cache Configuration
# Adjust capacity based on available memory and expected traffic
CACHE_CAPACITY=100